@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #e7573c;
  --color-secondary: #ff9e00;
}

:root {
  --background: #fffbf8;
  --foreground: #271f30;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Lora, Arial, Helvetica, sans-serif;
}

.input {
  @apply p-2 border border-stone-300 focus:outline-none focus:bg-secondary/10;
}

.btn {
  @apply w-full px-4 py-2 rounded-md transition-all shadow-sm active:scale-95 cursor-pointer bg-secondary/80 hover:bg-secondary disabled:!scale-100;
}