@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #e7573c;
  --color-secondary: #ff9e00;
}

:root {
  --background: #fffbf8;
  --foreground: #271f30;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Lora, Arial, Helvetica, sans-serif;
}
